.content {
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  background-color: rosybrown;
  border-radius: 30px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
